# Chart dependencies
**/charts/*.tgz
Chart.lock

# Files marked as local-only
*.local
*.local.*

# Helm values
/values.yaml
/values.yml

# Files containing secrets
/kubeconfig*.yaml
/kubeconfig*.yml
/kubeconfig*
/inventory.yaml
/inventory.yml
/join-token