apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: external-secrets
spec:
  interval: 1h
  url: https://charts.external-secrets.io
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets-operator
spec:
  interval: 1h
  chart:
    spec:
      chart: external-secrets
      version: "^1.1.0"
      sourceRef:
        kind: HelmRepository
        name: external-secrets
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  timeout: '15m0s' # Account for slow performance of cluster on first setup.
  values:
    installCRDs: true
{{- if not .Values.bootstrap }}
    serviceMonitor:
      enabled: true
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDashboard
metadata:
  name: external-secrets
spec:
  resyncPeriod: 30s
  allowCrossNamespaceImport: true
  instanceSelector:
    matchLabels:
      dashboards: "grafana"
  json: >
    {{ (.Files.Get "config/grafana-dashboard.json") | nindent 4 }}
{{- end }}
